*{
    font-family: inter, sans-serif;
}

img {
    border-radius: 50%;
    width: 90px;
    display: block;
    margin: 0 auto;

}

.name, .description {
    color: hsl(0, 0%, 100%)
}

.name {
    margin-bottom: -6px;
}

.location {
    color: hsl(75, 94%, 57%);
    font-weight: 600;
}

.name, .description, .location {
    text-align: center;
}


body {
    background-color: hsl(0, 0%, 8%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    
}

.profile {
    background-color: hsl(0, 0%, 12%);
    width: 350px;
    border-radius: 15px;
    padding-top: 40px;
    height: 580px;
    margin-bottom: 80px ;
    margin-top: 200px 

}

.bottom {
    margin-bottom: 400px;
}

.list {
    font-weight: 800;
    list-style: none;
    display: grid;
    row-gap: 16px;
    margin: 30px ;

    

}

button {
    padding: 15px 10px 15px 10px;
    background-color: hsl(0, 0%, 20%);
    border-radius: 8px;
    cursor: pointer;
    color:hsl(0, 0%, 100%);
    border: none;
}

button:hover {
    background-color: hsl(75, 94%, 57%);
}

a {
    color: hsl(0, 0%, 100%);
}

li {
    height: 40px;
    margin: 16px auto;
    border-radius: 10px;
    background-color: hsl(0, 0%, 20%);
    font-size: 14px; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 38px;
    
}


.location {
    font-size: 14px;
}

.description {
    font-size: 14px;
    margin-top: 35px;
    opacity: .7;
    margin-bottom: 30px;
    
}

a:link {
    text-decoration: none;
    
}

li:hover {
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 8%);
}
